@charset "utf-8";
/* CSS Document */
<style type="text/css">
.Modau {
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-style: normal;
	line-height: normal;
	font-weight: 900;
	font-variant: normal;
	text-transform: capitalize;
	color: #C36;
	text-align: center;
}
.img { text-align:center
}
.table1 {
	border: medium solid #C60;
}
.amthanh {
	height: 10px;
	width: 300px;
}
.gtdct {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color: #000;
	height: auto;
	width: auto;
}
.inf {
	margin: 30px;
	padding: 30px;
	border: thick solid #333;
}
datvutru {
	display: block; margin-left: auto; margin-right: auto;
	} 
.Modau {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
}
#traitim1 {
	left: 50px;
	top: 100px;
	clip: rect(auto,auto,auto,auto);
	position: absolute;
}
#traitim2 {
	position: absolute;
	top: 100px;
	right: 50px;
}
#choigay {
	position: absolute;
	right: 200px;
	bottom: 0px;
	top: 1100px;
}
